<div  class="container" ng-controller="histogramEqualizationController">
    <!-- div for success and error message -->
    <div ng-show="showSuccessMsg" class="alert alert-success alert-dismissible fade show"  role="alert">
        {{successMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div ng-show="showErrorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{errorMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card  mx-auto mt-5">
        <div class="card-header" > Histogram Equalization</div>
        <div class="card-body">

            <form>
                <div class="form-group">

                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="exampleFormControlFile1"> Upload file </label>
                            <input type="file" class="form-control-file"  ng-file-model="file" id="exampleFormControlFile1">
                        </div>
                        <div class="col-md-8">

                            <div style="height:200px">
                                <img  style="height:200px;" ng-src="{{file.url}}">
                            </div>



                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="generate()">Generate </button>
            </form>

            <!-- result image  -->

            <div   ng-show="resultDiv"  class="form-group mt-5" >
          <div class="form-row">

                <div class="col-md-8 offset-md-4">

                    <img style="height:200px;" ng-src="data:image/png;base64,{{outputImage}}">
                </div>
              </div>

                <div class="form-row">
                    <div class="col-md-8 offset-md-4">
                        <a class=" small"  href="" ng-click="download()">Download </a>
                        <a class=" small" href="" ng-click="email()"> Email  </a>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>